/* ---------------------------------- variables ------------------------------------- */
h2.menheer-block-title {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 22px;
  margin-bottom: 15px;
  color: #393939;
  border-left: 10px solid #d7a01e;
  padding-left: 10px;
}

.post-format-mark {
  position: absolute;
  top: 4px;
  right: 4px;
  background: white;
  padding: 6px 9px;
  border-radius: 5px;
}
.post-format-mark i {
  color: black;
}

.news-title {
  color: #ffffff;
  font-size: 30px;
  line-height: 32px;
  font-weight: 700;
}
.news-title .fa {
  font-size: 22px;
  margin-right: 6px;
}

.comments-views-date {
  color: #c9c9c9;
  font-size: 13px;
}
.comments-views-date i {
  margin-right: 3px;
}
.comments-views-date .comments, .comments-views-date .views {
  margin-right: 9px;
}
.comments-views-date .author a {
  color: inherit;
}
.comments-views-date .date {
  float: right;
}

.big-wrapper {
  display: grid;
}
.big-wrapper .thumbnail, .big-wrapper .thumbnail img {
  overflow: hidden;
}
.big-wrapper .widget-image {
  overflow: hidden;
}
.big-wrapper .category {
  margin-bottom: 5px;
}
.big-wrapper .news-title {
  font-size: 18px;
  margin-bottom: 5px;
  line-height: 20px;
}
.big-wrapper .news-title .fa {
  font-size: 16px;
  margin-right: 3px;
}
.big-wrapper .author {
  font-size: 13px;
  margin-top: 4px;
}
.big-wrapper .author-avatar img {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.elementor-widget-wp-widget-tag_cloud h5 {
  font-family: "Lato";
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
  margin-bottom: 15px;
  color: #393939;
  border-left: 10px solid #d7a01e;
  padding-left: 10px;
}
.elementor-widget-wp-widget-tag_cloud a.tag-cloud-link {
  font-size: 14px !important;
  border: 1px solid #b3b3b3;
  padding: 5px;
  line-height: 33px;
  border-radius: 5px;
  color: #4b4b4b;
  background: #e6e6e6;
  margin-right: 3px;
}
.elementor-widget-wp-widget-tag_cloud a.tag-cloud-link:hover {
  text-decoration: none;
  background: #d2d2d2;
}

.description .category-background-color {
  display: inline-block;
  color: white;
  padding: 4px 8px;
  margin-right: 10px;
  font-size: 10px;
  border-radius: 2px;
  line-height: 10px;
  border-radius: 2px;
}
.description .category-color {
  display: inline-block;
  color: white;
  margin-right: 10px;
  font-size: 11px;
  border-radius: 2px;
  line-height: 10px;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.3px;
}

.elementor-widget-wp-widget-categories ul {
  list-style-type: none;
  padding: 0;
}
.elementor-widget-wp-widget-categories h5 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
  margin-bottom: 15px;
  border-left: 10px solid #d7a01e;
  padding-left: 10px;
}
.elementor-widget-wp-widget-categories li {
  text-align: right;
  border-bottom: 1px solid #535353;
}
.elementor-widget-wp-widget-categories a {
  float: left;
}
.elementor-widget-wp-widget-categories.on-dark h5 {
  color: white;
}
.elementor-widget-wp-widget-categories.on-dark li, .elementor-widget-wp-widget-categories.on-dark a {
  color: #B9B9B9;
}

/*# sourceMappingURL=general.css.map */
